body {
    font-family: 'Roboto', sans-serif;
}

.first-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.first-container1 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.first-container2 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
}

.first-row {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
}

.second-row {
    max-width: 450px;
    /*max-width: 30%;*/
    height: 100%;
    margin-left: 24px;
    margin-right: auto;
}

.hunt {
    width: 100%;
}

.orav {
    width: 100%;
}

.main-heading {
    margin-top: 5px;
    font-size: 36px;
    margin-bottom: 0px;
}

.main-subtext {
    font-size: 22px;
    margin-top: 2px;
}

.sub-heading {
    font-weight: 300;
    font-size: 36px;
    color: #0054A6;
    text-transform: uppercase;
}

.main-subheading {
    margin-top: 5px;
    font-size: 26px;
    margin-bottom: 0px;
}

hr {
    background-color: #0054A6;
    height: 1px;
    border: none;
}

.janes {
    width: 100%;
}

.karu {
    width: 100%;
}

.first-section {
    width: 50%;
    margin: 0px 12px 0px 0px;
}

.second-section {
    width: 50%;
    margin: 0px 0px 0px 12px;
}

.channel {
    width: 13%;
}

.first-container2 h2 {
    font-size: 1.2em;
}

.description {
    width: 87%;
}

.description p {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0;
}

.description h2 {
    margin-bottom: 0;
}


@media only screen and (max-width: 1507px) {
    .first-row {
        max-width: 67%;
        height: 100%;
        margin-left: 1px;
    }

    .second-row {

        max-width: 31%;
        height: 100%;
        margin-left: 24px;
        margin-right: 1px;
    }
}

@media only screen and (max-width: 1332px) {

    .second-row {

        max-width: 30%;
        height: 100%;
        margin-left: 24px;
        margin-right: 1px;
    }
}



@media only screen and (max-width: 1024px) {
    .first-row {
        height: 50%;
        width: 90%;
        min-width: 90%;
        margin: 10px auto;
    }

    .second-row {
        height: 50%;
        width: 90%;
        min-width: 90%;
        margin: 10px auto;
    }
}